$def with(videos)
$:render.header()

        <div class="main">
            <p>videos</p>
            <div class="box todos">
                
                <ul>
                    $for v in videos:
                        <li>
                        <i class="icon-question-sign"></i>
                        &nbsp;
                        <a href="/sign/$v.id/read">$v.name</a>
                        &nbsp;
                        </li>
                </ul>

            </div>
            <hr />
            <hr />

        </div>

$:render.foot()
